<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.server.mapper.AppraiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.server.entity.Appraise">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="app_date" property="appDate" />
        <result column="app_result" property="appResult" />
        <result column="app_content" property="appContent" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, app_date, app_result, app_content, remark
    </sql>

</mapper>
