<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.server.mapper.EmployeeEcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.server.entity.EmployeeEc">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="ec_date" property="ecDate" />
        <result column="ec_reason" property="ecReason" />
        <result column="ec_point" property="ecPoint" />
        <result column="ec_type" property="ecType" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, ec_date, ec_reason, ec_point, ec_type, remark
    </sql>

</mapper>
