<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.server.mapper.EmployeeRemoveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.server.entity.EmployeeRemove">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="after_dep_id" property="afterDepId" />
        <result column="after_job_id" property="afterJobId" />
        <result column="remove_date" property="removeDate" />
        <result column="reason" property="reason" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, after_dep_id, after_job_id, remove_date, reason, remark
    </sql>

</mapper>
